{% extends 'base.html'%}

{% block head %}

{% endblock %}


{% block nav %}
<div class="header">
    <nav class="navbar">
        <div class="container">

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">HOME</a>
                    <a href="{{ url_for('main.index') }}" class="navbar-item">PROFILE</a>
                    <a href ="{{ url_for('main.signup') }}" class="navbar-item">SIGN-UP</a>
                    <a href ="{{ url_for('main.login') }}" class= "navebar-item">LOGIN</a>
                    <a href ="{{url_for('main.logout') }}" class = "navbar-item">LOGOUT</a>


            </div>
        </div>
    </nav>
</div>

{% endblock %}

{% block body %}

{% endblock%}